/* 清除内外边距 */
@font-face{
    font-family:造字工房悦黑演示版常规体;
    src:url('../font/造字工房悦黑演示版常规体.otf'); /*这里是字体文件路径*/
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td{ /* table elements 表格元素 */
    margin:0;
    padding:0;
}

/* 设置默认字体 */
body,
button, input, select, textarea{ /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

.clearfix{
    overflow:hidden;
    _height:1%;
}

h1{
    font-size:18px; /* 18px / 12px = 1.5 */
}

h2{
    font-size:16px;
}

h3{
    font-size:14px;
}

h4, h5, h6{
    font-size:100%;
}

address, cite, dfn, em, var{
    font-style:normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp, tt{
    font-family:"Courier New", Courier, monospace;
}

/* 统一等宽字体 */
small{
    font-size:12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol{
    list-style:none;
}

/* 重置文本格式元素 */
a:link{
    text-decoration:none; /* 指正常的未被访问过的链接*/
}

a:visited{
    text-decoration:none; /*指已经访问过的链接*/
}

a:hover{
    text-decoration:none; /*指鼠标在链接*/
}

a:active{
    text-decoration:none;
}

abbr[title], acronym[title]{ /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom:1px dotted;
    cursor:help;
}

q:before, q:after{
    content:'';
}

/* 重置表单元素 */
legend{
    color:#000;
}

/* for ie6 */
fieldset, img{
    border:none;
    border-radius:5px;
}

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea{
    font-size:100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table{
    border-collapse:collapse;
    border-spacing:0;
}

/* 重置 hr */
hr{
    border:none;
    height:1px;
}

/*主要部分*/
#main{
    width:1080px;
    margin:0 auto;
}

@media screen and (max-width:1000px){
    #imgfloat{
        display:none;
    }
}

#imgfloat{
    position:fixed;
    right:0;
    top:300px;
    width:96px;
    height:112px;
    background-color:#1c97fb;
    padding:4px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 3px #888;
    -moz-box-shadow:0 0 3px #888;
    box-shadow:0 0 3px #888;
    z-index:1;
}

.header-up{
    height:50px;
    width:100%;
    position:relative;
}

.header-down{
    margin-top:5px;
}


#headeright{
    position:absolute;
    top:0;
    right:0;
}

.center{
    text-align:center;
}

#detectBrowser{
    height:25px;
    width:100%;
    background:#38ad03;
    position:absolute;
    top:0;
    z-index:9999;
    opacity:0.8;
    line-height:20px;
    color:#FFF;
    font-size:15px;
    display:block;
}

/*轮播图样式*/
.banner{
    position:relative;
    overflow:auto;
    text-align:center;
}

.banner li{
    list-style:none;
}

.banner ul li{
    float:left;
}

#b04 li{
    position:relative;
}
.banner-p{
    position:absolute;
    left: 0;
    top: 180px;
    color: #fff;
    background: #1C97FB;
    height: 28px;
    line-height: 28px;
    padding:1px 4px 1px 2px;
    min-width: 60px;
    font-size:16px;
    font-family:"黑体";
    font-weight:bold;
}

#b04 .dots{
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
}

#b04 .dots li{

    display:inline-block;

    width:41px;

    height:8px;

    margin:0 4px;

    text-indent:-999em;

    /*	border: 2px solid #fff;
    */
    /*	border-radius: 6px;
    */
    cursor:pointer;

    opacity:.4;
    background:#1c97fb;

    -webkit-transition:background .5s, opacity .5s;

    -moz-transition:background .5s, opacity .5s;

    transition:background .5s, opacity .5s;

}

#b04 .dots li.active{

    background:#1c97fb;

    opacity:1;

}

#b04 .arrow{
    position:absolute;
    top:100px;
}

#b04 #al{
    left:15px;
}

#b04 #ar{
    right:15px;
}

/*轮播图end*/

/*导航栏begin*/
#nav{
    height:47px;
    width:100%;
    background:#1c97fb;
    position:relative;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#nav img{
    position:absolute;
    right:0;
    top:0;
}

.nav_div{
    width:80px;
    height:27px;
    background-color:#1c97fb;
}

.li_bottom{
    border-bottom:none;
}

.ban{
    height:41px;
    width:94px;
    padding-left:5px;
    padding-right:5px;
    float:left;
    background:#1c97fb;
    text-align:center;
    font-size:18px;
    color:#fff;
    border-bottom:6px solid #1c97fb;
    letter-spacing:1px;
    margin-left:25px;
    line-height:46px;
    position:relative;
    font-family:"微软雅黑";
    font-weight:bolder;
}

/*测试*/
#navli li{
    display:inline-block;
    position:relative;
}
.ban span{
    font-family:"微软雅黑";
    font-weight:100;
}

.ban:hover{
    background:#fff;
    color:#1c97fb;
}

.nav{
    height:84px;
    width:96px;
    position:absolute;
    left:39px;
    top:47px;
    z-index:100;
    display:none;
}



.nav li a{
    width:65px;
    line-height:26px;
    text-align:center;
    float:left;
    border-bottom:1px solid #fff;
    font-size:13px;
    color:#fff;
    font-weight:bold;
    margin-left:8px;
}
.nav li:last-child a{
    border-bottom:none!important;
}

.nav li a:hover{
    background:#feaf1e;
}

.nav2 li a:hover{
    background:#feaf1e;
}

.li_bottom{
    border-bottom:none !important;
}

/*导航栏end*/
/*content begin*/
#content{
    width:100%;
    padding-top:14px;
}

#baoming{
    margin-top:20px;
}

#zhengce{
    margin-top:20px;
}

/*#baoming-header{
	height: 52px;
	width: 310px;
	border-bottom:1px solid #dcdcdc;
	line-height: 52px;
	position: relative;
	color: #f97202;
}
#baoming-down{
	height: 184px;
	width: 310px;

}
.baoming-banner{
	height: 57px;
	width: 264px;
	padding-left: 6px;
	margin:3px auto 3px auto;
	background: #f97202;
	font-size: 20px;
	line-height: 60px;
	font-family: 黑体;
	display: block;
	color: #fff;
	position: relative;
}
.baoming-banner img{
	position: absolute;
	top: 10px;
	right: 10px;

}
#baoming-header img{
	position: absolute;
	top: 5px;
	left: 0;
}*/
#tongzhi{
    float:left;
    margin-left:8px;
}

#zhengce{
    float:left;
    margin-left:8px;
}

.con-nav-font{
    font-size:18px;
    color:#fff;
    margin-left:49px;
    font-weight:bolder;
    font-family:'微软雅黑';
    moz-user-select:-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#sybban{
    height:240px;
    width:656px;
    background:#fff;
    border:4px solid #dcdcdc;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    float:right;
}

#sybban-header{
    height:52px;
    width:656px;
    border-bottom:1px solid #dcdcdc;
    line-height:52px;
    position:relative;
    color:#f97202;
}

#sybban-header img{
    position:absolute;
    top:5px;
    left:0;
}

#sybban-down{
    height:180px;
    width:649px;
    padding-left:3px;
    padding-top:6px;
}

.list-c{
    height:27px;
    width:470px;
    display:block;
    font-size:18px;
    line-height:27px;
    color:#000;
    float:left;
    padding-left:5px;
    margin-top:2px;
}

.list-t{
    height:27px;
    width:113px;
    display:block;
    font-size:18px;
    line-height:27px;
    color:#000;
    float:left;
    margin-left:12px;
    margin-top:2px;
}

.list-c:hover{
    color:#f99301;
}

#con-img{
    height:173px;
    width:100%;
    float:left;
    margin-top:13px;
    overflow:hidden;
    padding-left:3px;
    margin-bottom:13px;
}



.con-imga{
    height:158px;
    width:251px;
    /*border:8px solid #1c97fb;*/
    /*margin-right:4px;*/
    float:left;
    z-index:10;
    margin:8px;
}


.con-imgb{
    height:158px;
    width:230px;
    border:8px solid #f97202;
    margin-right:4px;
    float:left;
    z-index:-10;
}

#syb{
    margin-left:5px;
}
#actity{
    width:100%;
    margin-top:20px;
    height:auto;

}
#lisdd-header{
    background:#fff;
}
.list-dd{
    height:298px;
    width:48.8%;
    background:#fff;
    border:4px solid #dcdcdc;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    float:left;
}

.lisdd-header{
    height:40px;
    width:100%;
    /*	float: left;
    */
    border-bottom:1px solid #dcdcdc;
    line-height:40px;
    position:relative;
    background:#1c97fb;
}

.lisdd-header img{
    position:absolute;
    top:8px;
    left:10px;
}

.listdd-down{
    width:100%;
    position:relative;
}

.listdd-down li{
    height:30px;
    width:100%;
    line-height:30px;
}

.listdd-c{
    font-family:"微软雅黑";
    height:27px;
    width:355px;
    display:block;
    font-size:15px;
    line-height:27px;
    color:#000;
    float:left;
    margin-top:4px;
    padding-left:5px;
}

.listdd-c:hover{
    color:#f99301;
}

.listdd-t{
    height:27px;
    width:82px;
    display:block;
    font-size:14px;
    line-height:27px;
    color:#000;
    float:left;
    margin-left:38px;
    margin-top:4px;
}

#bottom-img{
    height:133px;
    width:1003px;
    float:left;
    margin-top:13px;
}

#bottom-img img{
    width:1003px;
    height:133px;
}

#bottom-list{
    height:35px;
    width:1003px;
    line-height:35px;
    float:left;
    margin-top:18px;
    border-bottom:1px solid #dcdcdc;
    padding-left:100px;
    padding-bottom:20px;
}

#bottom-list img{
    float:left;
}

#bottom-list span{
    float:left;
}

.select{
    margin-top:10px;
    float:left;
    margin-left:4px;
}

#bottom{
    height:77px;
    width:1103px;
    float:left;
    padding-top:10px;
}

#bottom span{
    height:18px;
    width:100%;
    float:left;
    text-align:center;
    line-height:18px;
    font-size:12px;
}

.more{
    font-size:18px;
    position:absolute;
    right:5px;
    color:#fff;
    font-family:造字工房悦黑演示版常规体;
}

#list-left{
    height:570px;
    width:266px;
    float:left;
}

#list-right{
    height:570px;
    width:798px;
    float:right;
    margin-left:10px;
    padding-left:5px;
    margin-top:5px;
}

.list-tc{
    height:27px;
    width:470px;
    display:block;
    font-size:17px;
    line-height:22px;
    color:#000;
    float:left;
    padding-left:5px;
    margin-top:3px;
}

.list-tt{
    height:27px;
    width:141px;
    display:block;
    font-size:17px;
    line-height:22px;
    color:#000;
    float:left;
    margin-left:30px;
}

.list-tc:hover{
    color:#f99301;
}

#article-right{
    min-height:570px;
    width:804px;
    float:right;
    margin-left:10px;
}

#article-right a{
    color:#fff;
}

.article-header{
    width:795px;
    height:31px;
    line-height:31px;
    float:left;
    padding-left:10px;
    background:#1c97fb;
    overflow:hidden;
}

.article{
    word-wrap:break-word;
    min-height:425px;
    width:100%;
    float:left;
}

.ar-t{
    height:28px;
    width:100%;
    line-height:28px;
    text-align:center;
    margin-top:10px;
    font-size:16px;
    font-weight:bolder;
}

.ar-tt{
    height:28px;
    width:100%;
    float:left;
    line-height:28px;
    text-align:center;
    margin-top:10px;
    font-size:12px;
    font-weight:bolder;
}

.ar-ct{
    font-size:16px;

}

.ar-c{
    min-height:349px;
    width:90%;
    font-size:14px;
    padding:0 5%;
    line-height:20px;
    margin:10px auto 0 auto;
}

/*列表按钮页begin*/
.left-ban{
    height:73px;
    width:266px;
    background:#1c97fb;
    display:block;
    position:relative;
    text-align:center;
    line-height:73px;
    font-size:20px;
    font-family:黑体;
    color:#fff;
    margin-top:5px;
}

.left-ban:hover{
    background:#5550ff;
}

.left-ban img{
    height:55px;
    width:48px;
    position:absolute;
    top:10px;
    left:16px;

}

#list-header{
    width:708px;
    height:31px;
    line-height:31px;
    float:left;
    padding-left:10px;
    background:#1C97FB;
    margin-left:-5px;
    font-size:13px;
}

/*end*/
/*报名begin*/
.bm-group{
    width:690px;
    height:56px;
    float:left;
    margin-left:33px;
    line-height:56px;
    font-size:22px;
}

.bm-name{
    width:152px;
    height:56px;
    float:left;
    color:#f97303;
    text-align:right;
    padding-right:20px;
}

.bm-text{
    width:450px;
    height:44px;
    float:left;
    line-height:44px;
    padding-top:12px;
}

.bm-cou{
    width:400px;
}

.bm-radio{
    color:#f97303;
}

.bm-Bselect{
    width:404px;
    height:30px;
}

.bm-Sselect{
    width:92px;
    height:30px;
}

/*分页样式begin*/
.pagination{
    display:inline-block;
    margin:30px 160px;;
    padding-left:0;
    height:20px;
    width:400px;
}

.num{
    margin-top:20px;
    margin-bottom:10px
}

.num{
    border:#8db5d7 1px solid;
    padding:2px 5px;
    color:#000;
    margin:0 2px 0 0;
    text-decoration:none;
}

.num:hover{
    border:red 1px solid;
    padding:2px 5px;
    margin:0 2px 0 0;
}

.num:active{
    border:red 1px solid;
    padding:2px 5px;
    margin:0 2px 0 0;
}

span.current{
    border:#e89954 1px solid;
    padding:2px 5px;
    font-weight:bold;
    color:#000;
    margin:0 2px 0 0;
    background-color:#ffca7d;
}

a.end{
    border:#ccc 1px solid;
    padding:2px 5px;
    color:#ccc;
    margin:0 2px 0 0;
}

a.first{
    border:#ccc 1px solid;
    padding:2px 5px;
    color:#ccc;
    margin:0 2px 0 0;
}

.prev{
    color:#f97303
}

.next{
    color:#f97303
}

/*end*/
.baoming-top{
    height:38px;
    width:170px;
    margin-top:2px;
}

.baoming-bottom{
    height:30px;
    width:170px;
    display:block;
    color:#FFF;
    font-size:25px;
    line-height:30px;
    padding-top:2px;
    margin-top:2px;
}

.baoming-bottom:hover{
    color:#FFF;
}

.baoming-bottom:active{
    color:#FFF;
}

#sanjiao{
    display:block;
    height:150px;
    width:480px;
    background:url(../images/sanjiao.jpg);
    border:none;
    margin-top:20px;
    z-index:-100;
}

#baoming-top{
    height:90px;
    width:170px;
    background:#f97202;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:150px;
    color:#fff;
    text-align:center;
}

#baoming-left{
    height:90px;
    width:170px;
    background:#f97202;
    border-radius:50%;
    position:absolute;
    top:100px;
    left:0;
    color:#fff;
    text-align:center;
}

#baoming-right{
    height:90px;
    width:170px;
    background:#f97202;
    border-radius:50%;
    position:absolute;
    top:100px;
    right:0;
    color:#fff;
    text-align:center;
}

.baoming-sm{
    height:10px;
    width:170px;
    display:block;
    color:#FFF;
    font-size:8px;
}

#sousuo{
    width:300px;
    float:right;
    z-index:-100;
}

#sousuo-text{
    float:left;
    height:40px;
    width:208px;
    font-size:15px;
    border:none;
    padding-left:8px;
    line-height:18px;
    border-bottom:1px #1C97FB solid;
}

#sousuo-button{
    border:none;
    float:left;
    height:30px;
    width:30px;
    background:url(../images/sousuo.png) no-repeat;
    margin:3px 0 0 0;
    outline:none;
    cursor:pointer;
    background-size:30px;
}

.dian{
    height:12px;
    width:12px;
    float:left;
    margin-top:10px;
    margin-left:15px;
}

#try{
    height:40px;
    width:250px;
    border-radius:7px;
    float:right;
    background-color:#fff;
}
.baoming-a{
    margin-left:42px;
    margin-bottom:34px;
    width:200px;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:25px;
    color:#fff;
    display:inline-block;
    background:#1c97fb;
    font-family:"微软雅黑";
    font-weight:bolder;
}
