{template "content","header"}
<!--main-->
<!--contnet-->
            <div id="content">
                {template "content","sideBar"}
                <div id="list-right">
                <div id="list-header">
                        <a href="{APP_PATH}">首页</a><span> &gt; </span><a href="">{catpos($catid)}列表</a>
                    </div>
                    {pc:content action="lists" catid="$catid" num="16" order="inputtime DESC" page="$page"}
                    <ul>
                        {loop $data $r}
                        <li><a  class="list-tc" href="{$r[url]}" ><img src="{IMG_PATH}dian.svg" alt="icon" style="margin-right: 10px;" width="12px"><span>{$r[title]}</span></a>
                        <span class="list-tt">{date('Y-m-d',$r[inputtime])}</span>
                        </li>
                        {/loop}
                    </ul>
                    {/pc}
                    <ul class="pagination">
                        {$pages}                   
                    </ul>
                </div>
                <!--content-->
{template "content","footer"}