<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}style.css">
    <script src="{JS_PATH}jquery-1.11.1.min.js"></script>
    <script src="{JS_PATH}common.js" type="text/javascript"></script>
    <script src="{JS_PATH}unslider.min.js"></script>
    <script src="{JS_PATH}search_common.js"></script>
    <link rel="icon" href="{IMG_PATH}huaguang.ico" type="image/x-icon"/>
    
    <link rel="stylesheet" href="{CSS_PATH}min.css">

    <!--iealter-->
    <script src="{JS_PATH}iealert.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}iealter/style.css">
    <script type="text/javascript">
        $(document).ready(function() {
            var defaults = { 
                support: "ie8",  // ie8 (ie6,ie7,ie8), ie7 (ie6,ie7), ie6 (ie6)
                title: "\u4F60\u77E5\u9053\u4F60\u7684Internet Explorer\u662F\u8FC7\u65F6\u4E86\u5417?", // title text
                text: ""
            };
            $("body").iealert(defaults);
        });
    </script>

    <title>华南理工大学广州学院创新创业教育学院</title>
</head>
<body onload="detectBrowser()">
    <div id="main">
        <div id="imgfloat">
            <img src="{IMG_PATH}index-icon.jpg" width="96px" alt="" >
            <div style="font-weight: bold;margin-top: 5px;text-align: center;color: white;">
                华广双创公众号
            </div>
        </div>
        <div id="header">
            <div class="header-up">
                <img src="{IMG_PATH}headerup.svg"  width="601" height="92" />
                <form id="sousuo" method="get" target="_blank" action="{APP_PATH}index.php">
                    <div id="try">
                        
                        <input type="hidden" name="m" value="search"/>
                        <input type="hidden" name="c" value="index"/>
                        <input type="hidden" name="a" value="init"/>
                        <input type="hidden" name="typeid" value="1" id="typeid"/>
                        <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
                        <input type="text" name="q" id="sousuo-text" placeholder="关键字搜索" style="outline:none">
                        <input type="submit" id="sousuo-button" value=""/>
                        
                    </div>
                </from>
            </div>
            <!-- 导航栏部分 -->
            <div id="nav">
                <ul id="navli" class="clearfix">
                    <li ><a  class="ban" id="one" href="{APP_PATH}">首页</a></li>
                    <li ><a  class="ban" href="#">学院概括</a>
                        <ul id="nav1" class="nav">
                            <li>
                                <div class="nav_div"><div class="nav_two"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=20">学院简介</a></div></div>
                            </li>
                            <li><div class="nav_div"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=21">组织架构</a></div></li>
                            <li id="teacher"><div class="nav_div"><a href="#" class="li_bottom" id="double_li">双创导师</div></a>
                                    <ul id="nav2" class="nav2">
                                        <li><div class="nav_div"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=19">校内导师</a></div></li>
                                        <li><div class="nav_div"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=18" class="li_bottom">校外导师</a></div></li>
                                    </ul>
                            </li>
                        </ul>
                    </li>
                    <li ><a  class="ban" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10">通知公告</a></li>
                    <li ><a  class="ban" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=11">双创动态</a>
                        <ul id="nav3" class="nav">
                            <li><div class="nav_div"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=22">讲座沙龙</a></div></li>
                            <li><div class="nav_div"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=23">创业竞赛</a></div></li>
                            <li><div class="nav_div"><a class="li_bottom" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=24" >其他</a></div></li>
                        </ul>
                    </li>
                    <li ><a  class="ban" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=12">政策服务</a></li>
                    <li ><a  class="ban" href="#">创业基地</a>
                        <ul id="nav4" class="nav">
                            <li><div class="nav_div"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=25">校外基地</a></div></li>
                            <li><div class="nav_div"><a class="li_bottom" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=26">创业园区</a></div></li>
                        </ul>

                    </li>

                </ul>
            </div>