{template "content","header"}
<!--main-->
    <!-- 轮播图部分 -->
     <div class="header-down">
            <div class="banner" id="b04">
                {pc:content action="lists" catid="16" num="5" order="inputtime DESC"}
                <ul>
                    {loop $data $v}
                    <li class="clearfix">
                        <a href="{$v['url']}"><img src="{thumb($v[thumb],1003,325)}" alt="" width="100%" height="260px" ></a>
                        <!--<p class="banner-p">-->
                            <!--<span>{$v['title']}</span>-->
                        <!--</p>-->
                    </li>
                    {/loop}
                </ul>
                {/pc}
                <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="{IMG_PATH}arrowl.png" alt="prev" width="20" height="35"></a>

                <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="{IMG_PATH}arrowr.png" alt="next" width="20" height="37"></a>
            </div>
    </div>
    
    <!--<img src="{IMG_PATH}01.jpg" alt="" width="1003px" height="225px" style="margin-top: 5px;">-->
        </div>
            <div id="content">

                <div class="list-dd" id="sc-dongtai">
                    <div class="lisdd-header">
                        <img src="{IMG_PATH}tubiao3.png" width="25">
                        <span class="con-nav-font">双创动态</span>
                        <a class="more" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=11"><span>more ></span></a>

                    </div>
                    {pc:content action="lists" catid="11" num="8" order="inputtime DESC"}
                    <ul class="listdd-down">
                        {loop $data $v}
                        <li>
                            <img src="{IMG_PATH}dian.png" class="dian"><a class="listdd-c" href="{$v[url]}" ><span>{$v[title]}</span></a>
                            <span class="listdd-t">{date('Y-m-d',$v[inputtime])}</span>
                        </li>
                        {/loop}
                    </ul>
                    {/pc}

                </div>
                <div class="list-dd" id="zhengce">
                    <!--{pc:content action="lists" catid="12" num="8" order="inputtime DESC"}-->
                    <!--<ul class="listdd-down">-->
                        <!--{loop $data $v}-->
                        <!--<li>-->
                            <!--<img src="{IMG_PATH}dian.png" class="dian"><a class="listdd-c" href="{$v[url]}" ><span>{$v[title]}</span></a>-->
                            <!--<span class="listdd-t">{date('Y-m-d',$v[inputtime])}</span>-->
                        <!--</li>-->
                        <!--{/loop}-->
                    <!--</ul>-->
                    <!--{/pc}-->
                    <div>
                        <div class="banner has-dots" id="b05">
                            {pc:content action="lists" catid="16" num="5" order="inputtime DESC"}
                            <ul>
                                {loop $data $v}
                                <li class="clearfix">
                                    <a href="{$v['url']}"><img src="{thumb($v[thumb],406,298)}" alt=""  ></a>
                                    <!--<p class="banner-p">-->
                                    <!--<span>{$v['title']}</span>-->
                                    <!--</p>-->
                                </li>
                                {/loop}
                            </ul>
                            {/pc}
                        </div>
                    </div>


                    <script>
                        //第二个轮播图
                        var unslider05 = $('#b05').unslider();
                        data05 = unslider05.data("unslider");
                    </script>
                </div>
                <div class="list-dd" id="tongzhi">
                    <div class="lisdd-header">
                        <img src="{IMG_PATH}tubiao2.png" width="25"/>
                        <span class="con-nav-font">通知公告 </span>
                        <a class="more" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10"><span>more ></span></a>
                    </div>
                    {pc:content action="lists" catid="10" num="8" order="inputtime DESC"}
                    <ul class="listdd-down">
                        {loop $data $v}
                        <li>
                            <img src="{IMG_PATH}dian.png" class="dian"><a class="listdd-c" href="{$v[url]}" ><span>{$v[title]}</span></a>
                            <span class="listdd-t">{date('Y-m-d',$v[inputtime])}</span>
                        </li>
                        {/loop}
                    </ul>
                    {/pc}
                </div>
                <div id="baoming">

                    <!--{pc:content action="lists" catid="28" num="3" order="inputtime DESC"}-->
                    <!--<div class="listdd-down" style="padding-top: 10px;">-->
                        <!--{loop $data $v}-->
                        <!--<a href="{$v[url]}" class="baoming-a">{$v[title]}</a>-->
                        <!--{/loop}-->
                        <!--<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=28" CLASS="baoming-a">更多项目</a>-->
                    <!--</div>-->
                    <!--{/pc}-->
                    <div class="listdd-down" id="picture">
                        <a href="#" class="baoming-a">
                            <img src="{IMG_PATH}xiaolun1.jpg" width="195" height="90" alt="">
                        </a>
                        <a href="#" class="baoming-a">
                            <img src="{IMG_PATH}xiaolun2.jpg" width="195" height="90" alt="">
                        </a>
                        <a href="#" class="baoming-a">
                            <img src="{IMG_PATH}xiaolun3.jpg" width="195" height="90" alt="">
                        </a>
                        <a href="#" class="baoming-a">
                            <img src="{IMG_PATH}xiaolun4.jpg" width="195" height="90" alt="">
                        </a>
                        <a href="#" class="baoming-a">
                            <img src="{IMG_PATH}xiaolun5.jpg" width="195" height="90" alt="">
                        </a>
                        <a href="#" class="baoming-a">
                            <img src="{IMG_PATH}xiaolun5.jpg" width="195" height="90" alt="">
                        </a>


                    </div>

                </div>



                <!--<ul id="con-img">-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}02.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}02.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}02.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}02.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}01.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}01.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}01.jpg"></li>-->
                    <!--<li><img class="con-imga"src="{IMG_PATH}01.jpg"></li>-->
                <!--</ul>-->
                <div class="list-dd" id="actity">
                    <div class="lisdd-header" id="lisdd-header">
                        <span class="con-nav-font" style="color: #1c97fb;margin-left: 10px;">双创风采 </span>
                        <a class="more" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=12"><span style="color: #1c97fb;">more ></span></a>
                    </div>
                    {pc:content action="lists" catid="41" num="8" order="inputtime DESC"}
                    <!--<ul class="listdd-down">-->
                        <!--{loop $data $v}-->
                        <!--<li>-->
                            <!--<img src="{IMG_PATH}dian.png" class="dian"><a class="listdd-c" href="{$v[url]}" ><span>{$v[title]}</span></a>-->
                            <!--<span class="listdd-t">{date('Y-m-d',$v[inputtime])}</span>-->
                        <!--</li>-->
                        <!--{/loop}-->
                    <!--</ul>-->
                    <ul id="con-img">
                        {loop $data $v}
                            <li><a href="{$v[url]}"><img class="con-imga" src="{thumb($v[thumb],251,158)}"></a></li>
                        {/loop}
                    </ul>
                    {/pc}
                </div>
{template "content","footer"}