<ul id="list-left">
	<ul id="list-left">
		<li><a class="left-ban" href="{APP_PATH}index.php?m=content&c=index&a=show&catid=28&id=101"><img src="{IMG_PATH}syb3.png">SYB课程报名</a></li>
		<li><a class="left-ban" href="{APP_PATH}index.php?m=content&c=index&a=show&catid=28&id=103"><img src="{IMG_PATH}xunlian3.png">训练营报名</a></li>
		<li><a class="left-ban" href="{APP_PATH}index.php?m=content&c=index&a=show&catid=28&id=100"><img src="{IMG_PATH}sc3.png">双创班报名</a></li>
		<li><a class="left-ban" href="http://lib.gcu.edu.cn/home/"><img src="{IMG_PATH}tushu3.png">图书资料</a></li>
		<li><a class="left-ban" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=12"><img src="{IMG_PATH}zhengce3.png">政策服务</a></li>
		<li><a class="left-ban" href="http://jwxt.gcu.edu.cn/"><img src="{IMG_PATH}jiaoyutubiao.png">教务系统</a></li>
	</ul>
</ul>